.chat .sticker {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
}

.chat>div:not(.room) {
  background: #ffffff07;
}

.chat>div:not(.room):hover {
  background: #ffffff09;
}

.room-item {
  border-radius: 1rem;
}